body {
    background-color: LightCyan;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}
h4 {
    text-align: center;
    color: green;
}
form {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.width {
    width: 100%;
}
input, select, textarea{
    border-radius: 5px;
    border-color: lightgrey;
}
.center {
    text-align: center;
}
.required {
    background-color: salmon;
    color: white;
    border-radius: 20%;
    margin-left: 5px;
    font-size: small;
}